<div class="row">
    <label><h1>{{model.name}}</h1></label>
</div>

<div class="row">
  <img {{bind-attr src=model.photoUrl}} alt="goat photo" class="goat-show-photo">
    <b>Bio:</b> {{model.bio}} <br />
    <b>Favorite Snack:</b> {{model.snack}}
</div>

<br />

<div class="row">
  {{#if isEditing}}
    {{partial "goats/form"}}
    <button class="tiny radius" {{action "acceptChanges"}}>Done</button>
  {{else}}
    <button class="tiny radius" {{action "edit"}}>Edit</button>
    <button class="tiny radius alert" {{action "deleteGoat"}}>Delete</button>
  {{/if}}

  {{goat-fav-button goat=model}}
</div>
