<div class="row">
    <label><h1>{{model.name}}</h1></label>
</div>

<div class="row">
  <img {{bind-attr src=model.photoUrl}} alt="goat photo" class="goat-show-photo">
    <b>Bio:</b> {{model.bio}} <br />
    <b>Favorite Snack:</b> {{model.snack}}
</div>

<br />

<div class="row">
  {{#if model.isEditing}}
    {{goat-form goat=model save='acceptChanges'}}
  {{else}}
    {{edit-goat-button goat=model}} 
    {{delete-goat-button goat=model}}
  {{/if}}

  {{goat-fav-button goat=model}}
</div>
