{{#if isEditing}}
  {{partial "goat/edit"}}
  <button class="tiny radius" {{action "acceptChanges"}}>Done</button>
{{else}}
  <button class="tiny radius" {{action "edit"}}>Edit</button>
  <button class="tiny radius alert" {{action "deleteGoat"}}>Delete</button>

{{/if}}

<div class="row">
  <span {{bind-attr class="isFavorite:favorite"}}>
      {{input type="checkbox" checked=isFavorite class="toggle"}}
      <label><h1>{{name}}</h1></label>
  </span>
</div>

<div class="row">
  <b>Bio:</b> {{bio}}
</div>

<div class="row">
  <b>Favorite Snack:</b> {{snack}}
</div>
